@inherits Chloroplast.Core.Rendering.ChloroplastTemplateBase<Chloroplast.Core.Rendering.RenderedContent>
@using System.Linq;
@using System.Collections.Generic;
@using Microsoft.Extensions.Configuration;
@using Chloroplast.Core.Extensions;
@using MiniRazor;
@{
    RawString RenderNodes(IConfigurationSection section)
    {
        var children = section.GetChildren();
        if (children.Any())
        {
        <ul class="nav nav-pills flex-column mb-auto">
            @foreach(var item in children)
            {
                <li class="nav-item">
                    <a href="@Href("/" + item["path"])" class="nav-link link-light">@item["title"]</a>
                    @if (item.ContainsKey("items"))
                    {
                        @RenderNodes(item.GetSection("items"))
                    }
                </li>
            }
        </ul>
        }
        return new RawString("");
    }
}

<div class="col-sm bg-dark text-white" id="leftnav">
    @RenderNodes(Model.Metadata.GetSection ("navTree"))
</div>