@inherits Chloroplast.Core.Rendering.ChloroplastTemplateBase<Chloroplast.Core.Rendering.RenderedContent>
@using Chloroplast.Core
@using System.Linq;
@using System.Collections.Generic;
@using Microsoft.Extensions.Configuration;
@using Chloroplast.Core.Extensions;
@using MiniRazor;
@{
    RawString RenderNodes(IConfigurationSection section)
    {
        var children = section.GetChildren();
        if (children.Any())
        {
        <ul class="nav">
            @foreach(var item in children)
            {
                var localizedPath = BuildMenuItemHref(item["path"]);
                if (string.IsNullOrEmpty(localizedPath)) { continue; }
                <li class="nav-item">
                    <a href="@localizedPath" class="nav-link">@item["title"]</a>
                    @if (item.ContainsKey("items"))
                    {
                        @RenderNodes(item.GetSection("items"))
                    }
                </li>
            }
        </ul>
        }
        return new RawString("");
    }
}

@* NOTE: Localized menus can be provided via menu.<locale>.md files. Fallback to default menu.md handled in Default.cshtml *@

<div id="leftnav">
    @RenderNodes(Model.Metadata.GetSection ("navTree"))
</div>